@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,500;1,600;1,700&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

img {
max-width: 100%;
}
.wrapper {
    max-width: 1100px;
    margin-inline: auto;
}

/* menu-bar */

.menu-bar {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo li {
    list-style: none;
    font-weight: 600;
    font-size: 2rem;
}
.logo li span {
    
    color: #FF5400;
    font-size: 2rem;
}
.menu-item {
    display: flex;
}
.menu-item ul {
    display: flex;
    align-items: center;
}
.menu-item ul li {
    list-style: none;
    margin-right: 20px;
}
/* .menu-item ul li :nth-child(1) {
    color: red;
} */
.menu-item ul li a {
    font-size: 20px;
    color: black;
    text-decoration: none;
}
.menu-item ul li a:hover {
    color: #FF5400;
}
.ham-burger {
    width: 30px;
    height: 30px;
}
.menu-item .ham-burger {
    display: none;
}



/* header */

#header {
   background-image: url("./Images/Group\ 13\ \(1\)\ \(1\).png");
   background-repeat: no-repeat;
   width: 100%;
   height: 600px;
   border-radius: 16px;
   /* background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%); */
}
.travel-info {
    text-align: center;
    padding-top: 8%;
}

.travel-info h1 {
    font-size: 2rem;
    color: white;
    padding: 20px 0;
}.travel-info p {
    font-size: .9rem;
    color: white;
    padding: 10px 0;
}

.travel-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin-top: 10%;
    gap: 30px;
}
.travel-box .box {
    padding: 12px 20px;
    border-radius: 8px;
    background: #FFF;
}
.travel-box span {
    text-align: right;
}
.travel-box .search {
    color: white;
    background: #FF5400
    
}


/* tour */

.tour {
    padding: 40px 0;
    display: flex;
    gap: 20px;
}
.tour .tour-box h1 {
    font-size: 2rem;
    color: black;
    padding: 10px 0;
}
.tour .tour-box p {
    color: rgb(99, 99, 98);
}
.tour .tour-box .item-list {
    padding: 12px 0;
}
.tour .tour-box .item-list li{
    padding: 10px 0;
    color: rgb(99, 99, 98);
}

.tour .tour-box .button {
    margin-top: 10px;
    padding: 10px 30px;
    background: #FF5400;
    color: #FFF;
    text-decoration: none;
    border: none;
    border-radius: 8px;
}

.destination {
    padding: 40px 0;
}
.destination .des-info {
    text-align: center;
}
.destination .des-info h1{
    font-size: 2rem;
    color: black;
    padding: 8px 0;
}
.destination .des-info p{
    font-size: .9rem;
    color: rgb(72, 71, 71);
    padding: 8px 0;
}

.destination .destination-img, .image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}
.destination .destination-img img {
    width: 100%;
}
.destination-img-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px;
    gap: 15px;
}
 /* .image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-top: 40px;
} */
.destination .destination-img-2 img {
    width: 100%;
}
button {
    cursor: pointer;
}


/* why-chose */

.why-chose {
    padding: 40px 0;
}
.why-chose .chose-title {
    text-align: center;
}
.why-chose .chose-title h1{
   font-size: 2rem;
   color: black;
}
.why-chose .chose-title p{
    padding: 10px 0;
    color: rgba(19, 19, 24, 0.70);


}
.why-chose-box .chose-box i {
    font-size: 2.2rem;
    color: #FF5400;
    padding: 20px 15px;
}

.why-chose-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-top: 20px;
}

.why-chose-box .chose-box h1 {
    padding: 20px 15px;
    font-size: 1.5rem;
}
.why-chose-box .chose-box p {
    padding: 20px 15px;
    font-size: .9rem;
    color: rgb(70, 69, 69);
}

.why-chose-box .c-box-1 {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
.why-chose-box .c-box-2 {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.why-chose-box .c-box-3 {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

/* .maldives {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
} */
/* .srilanka {
    grid-column: 4 / 2;
    grid-row: 2 / 3;
} */


@media screen and (max-width: 576px) {
    .wrapper {
        max-width: 500px;
    }
    
    .menu-item li {
        display: none;
    }
    .menu-item .ham-burger {
        display: block;
        color: black;
    }
    #header {
        flex-direction: column;
    }
    .travel-box {
        flex-direction: column;
        gap: 8px;
    }
    .tour {
        flex-direction: column;
    }
    .why-chose-box {
        grid-template-columns: repeat(1, 1fr);
       ;
    }

}